$font1: 'Source Code Pro', monospace;
$font2: 'Source Sans Pro', sans-serif;

$color_backgound: #222831;
$color_supBackground: #30475e;
$color_destaque: #f2a365;
$color_texto: #ececec;
$color_success: #65f27d;