@import 'reset';
@import 'colors';
@import 'assets';
@import 'body';
@import 'abas';
@import 'content';

.marginBotton{
    margin-bottom: 20px;
    
}

*{
    font-family: $font2;
    font-size: 14px;
}