<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cripto</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main" class="main">
        <ul class="abas">
            <li 
                @click="aba=0"
                class="abas_item text_title" 
                :class="{abas_item_active : aba == 0}">Descriptografar</li>
            <li 
                @click="aba=1"
                class="abas_item text_title"
                :class="{abas_item_active : aba == 1}">Criptografar</li>
            <li 
                @click="aba=2"
                class="abas_item text_title"
                :class="{abas_item_active : aba == 2}">Gerador de senhas</li>
        </ul>
        <div v-if="aba==0" class="content" >
            <div class="content_inputs">
                <label class="text_title">Hash</label>
                <input class="text_input" type="text" v-model="hash">
                <label class="text_title">Senha Mestre</label>
                <input class="text_input" type="password" v-model="key">
                <button class="main_button" @click="decrypt()">Descriptografar</button>
            </div>
            <div class="content_results">
                <p class="content_results_label text_main">Senha:</p>
                <p class="content_results_success text_result">{{resultHash}}</p>
            </div>
        </div>
        <div v-if="aba==1" class="content">
            <div class="content_inputs">
                <label class="text_title">Senha</label>
                <input class="text_input" type="password" v-model="pass">
                <label class="text_title">Senha Mestre</label>
                <input class="text_input" type="password" v-model="key">
                <button class="main_button" @click="buttonEncrypt()">Criptografar</button>
            </div>
            <div class="content_results">
                <p class="content_results_label text_main">Hash:</p>
                <p class="content_results_success text_result">{{resultPass}}</p>
            </div>
        </div>
        <div v-if="aba==2" class="content">
            <div class="content_inputs">
                <label class="text_title">Senha Mestre</label>
                <input class="text_input" type="password" v-model="key">
                <p v-if="errors.gerador.passMaster != ''" class="content_results_error text_result">{{errors.gerador.passMaster}}</p>
                <button class="main_button" @click="buttonGeneratePass()">Criar senha Aleatória</button>
            </div>
            <div class="content_results marginBotton">
                <p class="content_results_label text_main">Senha:</p>
                <p class="content_results_success text_result">{{newPass}}</p>
            </div>
            <div class="content_results">
                <p class="content_results_label text_main">Hash:</p>
                <p class="content_results_success text_result">{{newHash}}</p>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>